.postSide {
  width: 100%;
  height: 100%;
  padding: 25px;
  border: 1px solid var(--stroke);
  background-color: var(--white);
  overflow-y: scroll;

  &-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }
}
