:root {
  --white: #ffffff;
  --black: #333333;
  --backGround: #f8f8fa;
  --main: #5f79d3;
  --lightMain: #84aeff;
  --darkMain: #384e9b;
  --stroke: #f1f1f3;
  --subText: #6c757d;
  --darkGray: #292b30;
  --red: #e92121;
}
