:root {
  --white: #ffffff;
  --black: #333333;
  --backGround: #f8f8fa;
  --main: #5f79d3;
  --lightMain: #84aeff;
  --darkMain: #384e9b;
  --stroke: #f1f1f3;
  --darkStroke: #d9dfe5;
  --hover: #f6f6f6;
  --text: #ffffff;
  --subText: #6c757d;
  --darkGray: #292b30;
  --lightGray: #fafafa;
  --red: #e92121;
}

[data-theme="dark"] {
  --white: #292929;
  --black: #c2c2c2;
  --backGround: #1a1a1a;
  --stroke: #3d3d3d;
  --darkStroke: #3d3d3d;
  --hover: #414141;
  --text: #ffffff;
  --subText: #ffffff77;
  --lightGray: #333333;
}
