.postContentItem {
  border: 1px solid var(--stroke);
  border-radius: 10px;
  background-color: var(--white);
  padding: 25px;
  margin-bottom: 25px;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    &-img {
      float: left;
      width: 50px;
      margin-right: 10px;
      border: 1px solid var(--stroke);
      border-radius: 50px;
      cursor: pointer;
    }
    &-title {
      float: left;
      margin-top: 5px;
      color: var(--subText);
      cursor: pointer;

      &-name {
        font-weight: bold;
      }
    }
    &-more {
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }
  &-contents {
    height: 50vh;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--stroke);
  }
  &-bottom {
    display: flex;
    margin-bottom: 15px;

    label {
      display: flex;
      margin-right: 10px;
      cursor: pointer;
    }
    &-button {
      cursor: pointer;

      &-count {
        margin: 2px 0 0 5px;
      }
    }
    &-reply {
      height: 40px;

      input {
        width: 95%;
        height: 35px;
        padding: 0 15px;
        border: 1px solid var(--stroke);
        border-radius: 40px;
        background-color: var(--lightGray);
      }
      img {
        margin-top: 7px;
        float: right;
        cursor: pointer;
      }
    }
  }
}
