.postSideItem {
  float: left;
  width: calc(48% - 10px);
  margin: 0 10px 15px 0;
  cursor: pointer;

  &-img {
    width: 100%;

    &-up {
      margin-bottom: -6px;
    }
    img {
      width: 50%;
      border: 1px solid var(--stroke);
    }
  }
  &-name {
    color: var(--subText);
    text-align: center;
  }
}
