.post {
  height: 100vh;
  margin-left: 100px;

  &-content {
    float: left;
    width: 80%;
  }
  &-side {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
  }
}
.guard {
  height: 50%;
}
