.calendar {
  width: 100%;
  margin-bottom: 15px;

  &-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    img {
      cursor: pointer;
    }
    span {
      margin: 0 25px;
    }
  }
  &-date {
    margin: 5px 0 10px 0;
  }
  &-percent {
    height: 20px;
    margin-bottom: 13px;

    &-item {
      position: relative;
      font-size: 12px;
      overflow: hidden;

      &-text {
        color: white;
      }
    }
  }
  table {
    width: 100%;
    height: auto;
    text-align: center;

    th {
      display: table-row;
      height: 30px;
    }
    tbody {
      cursor: pointer;
    }
  }
}

.date {
  height: 69px;
}
.active {
  background-color: #ff909015;
  outline: 1px solid var(--red);
}
.deactivate {
  opacity: 50%;
  cursor: default;
}
.dateCycle {
  outline: 1px solid #ff909015;
  background-color: #ff909015;
}
