.calendar {
  width: 50%;
  padding: 25px;

  &-control {
    margin-bottom: 15px;

    img {
      cursor: pointer;
    }
    span {
      margin: 0 5px;
    }
  }
  table {
    width: 100%;
    height: 200px;

    tbody {
      text-align: center;
      cursor: pointer;
    }
  }
}

.active {
  outline: 1px solid var(--red);
}
.deactivate {
  opacity: 50%;
}
