.profile {
  height: 100vh;
  margin-left: 100px;
  padding: 50px 100px;

  &-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  &-contents {
    display: flex;
    height: 600px;
    border-radius: 10px;
    border: 1px solid var(--stroke);
    background-color: var(--white);

    &-view {
      display: flex;
      flex-direction: column;
      width: 40%;
      align-items: center;
      justify-content: center;
      padding: 35px;
      border-right: 1px solid var(--stroke);

      img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: 1px solid var(--darkStroke);
        object-fit: cover;
      }
      &-name {
        font-size: 20px;
        font-weight: bold;
      }
      &-title {
        margin: 15px 0;
        font-size: 16px;
        color: var(--subText);
      }
    }
    &-input {
      width: 60%;
      padding: 35px;

      &-item {
        float: left;
        width: 48%;
        margin: 0 15px 25px 0;

        &-title {
          height: 90%;
          margin-bottom: 15px;
        }
        &-text {
          width: 100%;
          margin-bottom: 15px;
          padding: 0 0 5px 10px;
          border-bottom: 1px solid var(--darkStroke);

          input {
            width: 100%;
            border: none;
          }
        }
        &-image {
          height: 342px;
          border: 1px solid var(--darkStroke);
          border-radius: 10px;

          &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            div {
              margin: 150px;
              padding: 5px 15px;
              font-size: 12px;
            }
          }
        }
        &-list {
          width: 100%;
          height: 420px;
          margin-top: 15px;
          border: 1px solid var(--darkStroke);
          border-radius: 10px;
          overflow: scroll;

          &-content {
            margin: 0 10px;
            padding: 10px 0;
            text-align: center;
            border-bottom: 1px solid var(--darkStroke);
            cursor: pointer;

            &:hover {
              background-color: var(--lightGray);
            }
          }
        }
      }
      &-image {
        width: 100%;
      }
      div {
        color: var(--subText);
      }
    }
    &-btn {
      float: right;
      margin-right: 20px;
      padding: 5px 15px;
      border-radius: 5px;
      font-weight: bold;
      color: var(--white) !important;
      cursor: pointer;
      opacity: 50%;
      background-color: var(--main);
      transition: 0.3s;

      &:hover {
        opacity: 100%;
      }
    }
  }
}

.mainTitle {
  font-weight: bold;
  color: var(--main) !important;
}
